#social-media {

	padding: 1.25rem 0rem !important;
	.social-content {
	@media #{$smallScreen}, #{$extraSmallScreen} {
		
		text-align: center;
	}
		p {

			color: rgba(#000, .5);
			font-weight: 500;
		}
	}
	.social-icons {
		@media #{$smallScreen}, #{$extraSmallScreen} {
		
			text-align: center;
		}
		.sociallink {

			display: inline-block;
			width: 2.5rem;
			height: 2.5rem;
			text-align: center;
			margin-right: 1rem;
			text-decoration: none;
			border: .1rem solid rgba(#000, .5);
			@include prefixer(transition,all .5s ease-in-out, webkit moz ms);
			i {

				color: rgba(#000, .5);
				line-height: 2.5rem;
			}
			&:hover {

				background: $orangeColor;
				border: .1rem solid $orangeColor;
				@include prefixer(box-shadow, 0 0 5px rgba(#000, .5), webkit moz ms);

				i {
					@include prefixer(transition,all .5s ease-in-out, webkit moz ms);
					color: #fff;
				}
			}
		}

		@media #{$largeScreen} {

			margin-top: 1.25rem;

		}

		@media #{$extraLargeScreen} {

			margin-top: 1.25rem;

		}

		@media #{$mediumScreen} {

			margin-top: 1.25rem;
			.sociallink {

				margin-right: .5rem;
				margin-bottom: .5rem;
			}
		}

		@media #{$smallScreen} {

			margin-top: 1.25rem;
		}

		@media #{$extraSmallScreen} {

			margin-top: 1.25rem;

			.sociallink {

				margin-right: .5rem;
				margin-bottom: .5rem;
			}
		}
	}

}
